<body>
    <div class="page">
      <div class="sidebar">
        <h3>Forms</h3>
        <div class="links">
          <ul>
            <li><a href="form-2.html" routerLink="/admin/user">Manage User</a></li>
            <li><a href="form-2.html">Tables</a></li>
            <li><a class="active" href="form-2.html">Form</a></li>
            <li><a href="form-2.html">buttons</a></li>
          </ul>
        </div>
      </div>
      <div class="content-area">
        <div class="content">
          <form action="">
            <div class="personal-information">
              <h3>Personal Information</h3>
              <div>
                <label class="special" for="user">User Name</label>
                <input id="user" type="text" placeholder="User Name Must Be In English" required>
              </div>
              <div>
                <label for="email">Email</label>
                <input id="email" type="email" placeholder="Email Must Be Valid" required>
              </div>
              <div>
                <label for="pass">Password</label>
                <input id="pass" type="password" placeholder="Password Must Be Colplex" required>
              </div>
            </div>
            <div class="experience">
              <h3>Experience</h3>
              <div>
                <label class="special" for="year">year</label>
                <input id="year" type="text">
              </div>
              <div>
  
                <label for="back">Back End skill</label>
                <select id="back">
                  <option value="">.....</option>
                  <option value="">.....</option>
                  <option value="">.....</option>
                </select>
              </div>
            </div>
            <div class="notes">
              <h3>Notes</h3>
              <div>
                <label class="special" for="note">Your Notes</label>
                <textarea id="note">Test value</textarea>
              </div>
            </div>
            <div class="hardweare">
              <h3>Hardwear & OS Information</h3>
              <div class="box one">
                <div class="first">
                  <input id="win-check" type="checkbox">
                  <label for="win-check">windows</label>
                </div>
                <div>
                  <input id="linux-check" type="checkbox">
                  <label for="linux-check">linux</label>
                </div>
                <div>
                  <input id="mac-check" type="checkbox">
                  <label for="mac-check">mac</label>
                </div>
              </div>
              <div class="box tow">
                <div class="second">
                  <input id="win-radio" type="radio" name="rad">
                  <label for="win-radio">windows</label>
                </div>
                <div class="a">
                  <input id="linux-radio" type="radio" name="rad">
                  <label for="linux-radio">linux</label>
                </div>
                <div>
                  <input id="mac-radio" type="radio" name="rad">
                  <label for="mac-radio">mac</label>
                </div>
              </div>
            </div>
            <input class="submit" type="submit" value="submit">
          </form>
        </div>
      </div>
    </div>
  </body>