
<app-header></app-header>

    <div class="hero-v1">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 mr-auto text-center text-lg-left">
              <span class="d-block subheading">Covid Symptoms</span>
              <h1 class="heading mb-3">Symptoms</h1>
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel a, nulla incidunt eaque sit praesentium porro consectetur optio!</p>
              <p class="mb-4"><a href="#" class="btn btn-primary">How to prevent</a></p>
  
  
  
            </div>
            <div class="col-lg-6">
              <figure class="illustration-2">
                <img src="./assets/images/symptoms.png" alt="Image" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-6"></div>
          </div>
        </div>
      </div>
  
  
      <!-- MAIN -->
      
  
  
  
      <div class="site-section bg-primary-light">
        <div class="container">
          <div class="row mb-5">
            <div class="col-lg-7 mx-auto text-center">
              <h2 class="mb-4 section-heading">Symptoms of Coronavirus</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex officia quas, modi sit eligendi numquam!</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="symptom d-flex">
                <div class="img">
                  <img src="./assets/images/symptom_high-fever.png" alt="Image" class="img-fluid">
                </div>
                <div class="text">
                  <h3>High Fever</h3>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ipsum repellendus animi modi iure provident, cupiditate perferendis voluptatem!</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="symptom d-flex">
                <div class="img">
                  <img src="./assets/images/symptom_cough.png" alt="Image" class="img-fluid">
                </div>
                <div class="text">
                  <h3>Cough</h3>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ullam illo laborum repellendus vel esse dolor, sunt exercitationem.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="symptom d-flex">
                <div class="img">
                  <img src="./assets/images/symptom_sore-troath.png" alt="Image" class="img-fluid">
                </div>
                <div class="text">
                  <h3>Sore Troath</h3>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum esse voluptatum, vel inventore at! Ullam, libero reiciendis amet?</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 mb-4">
              <div class="symptom d-flex">
                <div class="img">
                  <img src="./assets/images/symptom_headache.png" alt="Image" class="img-fluid">
                </div>
                <div class="text">
                  <h3>Headache</h3>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem voluptatem ratione veniam rerum qui quibusdam reprehenderit quis.</p>
                </div>
              </div>
            </div>
          </div>
  
          <div class="row justify-content-md-center">
            <div class="col-lg-10">
              <div class="note row">
  
                <div class="col-lg-8 mb-4 mb-lg-0"><strong>Stay at home and call your doctor:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, eaque.</div>
                <div class="col-lg-4 text-lg-right">
                  <a href="#" class="btn btn-primary"><span class="icon-phone mr-2 mt-3"></span>Help line</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
      <div >
        <div class="site-section">
            <div class="container">
              <div class="row mb-5">
                <div class="col-lg-7 mx-auto text-center">
                  <span class="subheading">What you need to do</span>
                  <h2 class="mb-4 section-heading">How To Protect Yourself</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex officia quas, modi sit eligendi numquam!</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 ">
                  <div class="row mt-5 pt-5">
                    <div class="col-lg-6 do ">
                      <h3>You should do</h3>
                      <ul class="list-unstyled check">
                        <li>Stay at home</li>
                        <li>Wear mask</li>
                        <li>Use Sanitizer</li>
                        <li>Disinfect your home</li>
                        <li>Wash your hands</li>
                        <li>Frequent self-isolation</li>
                      </ul>
                    </div>
                    <div class="col-lg-6 dont ">
                      <h3>You should avoid</h3>
                      <ul class="list-unstyled cross">
                        <li>Avoid infected people</li>
                        <li>Avoid animals</li>
                        <li>Avoid handshaking</li>
                        <li>Aviod infected surfaces</li>
                        <li>Don't touch your face</li>
                        <li>Avoid droplets</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <img src="./assets/images/protect.png" alt="Image" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
  <app-footer></app-footer>